@font-face {
  font-family: danstevis;
  src: url("../font/danstevis/danstevis.eot");
}
@font-face {
  font-family: danstevis;
  src: url("../font/danstevis/danstevis.otf");
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
}
.nav-bar-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.header-bar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-image: url("../image/karthik-garikapati-oBbTc1VoT-0-unsplash.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: center;
}
a {
  display: inline-block;
  color: white;
  text-decoration: none;
  font-family: danstevis;
  font-weight: bold;
  font-size: 25px;
}
ul {
  padding-top: 20px;
  text-align: right;
  display: inline-block;
}
li {
  display: inline;
  padding-right: 30px;
}
.top-link {
  padding: 20px;
}
.top-link:hover {
  background-color: rgb(32, 32, 32);
  border-radius: 35px;
}
.center-head {
    padding-top: 300px;
  text-align: center;
}
.img-left {
  display: inline-block;
  padding-top: 30px;
  padding-left: 30px;
}
.img-left > img {
  width: 100px;
}
h1,
p {
  color: white;
  font-family: danstevis;
}
h1 {
  font-size: 70px;
  text-shadow: 4px 4px black;
  font-weight: bold;
}
P {
  font-size: 40px;
  text-shadow: 2px 2px black;
}
.start-button {
  margin-top: 20px;
  margin-bottom: 300px;
  background-color: rgb(32, 32, 32);
  padding: 10px;
  width: 250px;
  display: inline-block;
  border-radius: 25px;
}
.start-button > a {
  font-size: 20px;
  font-weight: 200;
}
