@import url("all.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: rgb(205, 091, 145);
}
.column-container {
  display: flex;
  margin-left: 2vw;
}
.column {
  display: flex;
  flex-direction: column;
  background-color: rgb(229, 239, 242);
  width: 250px;
  height: 150px;
  margin-right: 1vw;
  margin-top: 2vh;
  border-radius: 3px;
  justify-content:space-around;
}
.column-header {
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
}
.title {
  font-weight: 600;
}
.column-body {
    display: flex;
    justify-content: space-between;
    margin:0 10px;
    background-color: white;
    border-radius: 0 0 3px 3px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.txt {
    padding-top:5px;
    padding-left: 5px;
    padding-bottom: 3px;
    color:rgba(0, 0, 0, 0.7);
}
.column-footer {
    display: flex;
    flex-direction: row;
}
.pale-txt {
    padding-left:10px ;
    color:rgba(0, 0, 0, 0.5);
}
.fa-plus {
    padding-left:10px;
    color:rgba(0, 0, 0, 0.5);
}
.fa-pencil {
    padding-right: 5px;
    padding-top: 5px;
    color:rgba(0, 0, 0, 0.5);
}